.?*
*.d
*.o
*.la
*.lo
*.log
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
b-config
b-uninstalled.pc
b*.conf
config.h
config.h.in
config.log
config.status
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
config/test-driver
configure
doc/html
doc/timestamp
libtool
m4/libtool.m4
m4/lt*.m4
stamp-h1
cscope.out
tags
.gdb_history
.vimdir
/build
