*.log
*.o
*.trs
test_arg_list
test_array
test_binary_search_tree
test_cli
test_exceptions
test_fn
test_heap
test_levenshtein_distance
test_lists
test_make_path
test_map
test_memory
test_misc
test_object
test_opaque
test_pathname
test_pseudorandom
test_random
test_set
test_string
test_string_formatting
test_string_stream
test_string_view
